<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <table>
                <thead>
               <tr>
                <th>Name</th>
                <th>Number of items</th>
               </tr>
                </thead>
              <tbody>
                {% for to_do_list in to_do_lists %}
                <tr>
                    <td><a href="{% url "list_details" to_do_list.id %}"> {{ to_do_list.name }}</a></td>
                    <td> {{ to_do_list.item.all|length }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </main>
</body>
</html>
